*{
    padding: 0;
    margin: 0;
}

* h2 {
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1;

}
* p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ecf0f1;
}
.subbtn {
    text-align: left;
}